@model IEnumerable<INVENTORY_MVC.Models.mvcItemModel>

@{
    ViewBag.Title = "Index";
}

<br/>


<p>
    <a href="@Url.Action("AddOrEdit","Items")" class="btn btn-default"><i class="fa fa-plus"></i>Create New</a>
</p>
<table class="table table-striped">
    <thead class="table-heading">
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.ITEM_NO)*@
                @Html.Label("Item No")
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.ITEM_NAME)*@
                @Html.Label("Name")
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.ITEM_PRICE)*@
                @Html.Label("Price")
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.ITEM_DESCRIPTION)*@
                @Html.Label("Description")
            </th>
            <th>
                @Html.Label("Action")
            </th>
        </tr>
    </thead>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ITEM_NO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ITEM_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ITEM_PRICE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ITEM_DESCRIPTION)
        </td>
        <td>
            <a href="@Url.Action("AddOrEdit", "Items", new { id = item.ITEM_NO })" class="btn btn-default"><i class="fa fa-pencil"></i>Edit</a>
            <a onclick="Delete(@item.ITEM_NO)" class="btn btn-default"><i class="fa fa-trash"></i>Delete</a>
        </td>
    </tr>
}

</table>

@section scripts
{
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script>
        $(function ()
        {
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '')
            {
                alertify.success(successMessage);
            }   
        });

        function Delete(id)
        {
            alertify.confirm('Web Api CRUD Operation', 'Are You Sure to Delete this Record ?', function () {
            window.location.href = '@Url.Action("Delete","Items")/' + id;
            }, null);
        }
    </script>
}
